<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.uploadtoimgur</string>
	<key>connections</key>
	<dict>
		<key>31427260-C3B6-458B-97FA-B0502A48155C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B67D6A45-DD4C-498E-9FF6-6330A4FC548F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8009BBF3-C7CE-4DE4-A55F-30191B8A6C08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>480D70DD-7269-42D2-B030-FAC01391AEE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B67D6A45-DD4C-498E-9FF6-6330A4FC548F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8009BBF3-C7CE-4DE4-A55F-30191B8A6C08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>94335DA3-CF56-483D-A277-E73B090097C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31427260-C3B6-458B-97FA-B0502A48155C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>480D70DD-7269-42D2-B030-FAC01391AEE4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Upload, then open, selected Finder image to imgru</string>
			</dict>
		</array>
		<key>A95BDE6A-5761-478A-A389-CA362876F27C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31427260-C3B6-458B-97FA-B0502A48155C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE29432D-5DE2-49DE-A62C-41023AB386EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31427260-C3B6-458B-97FA-B0502A48155C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Upload a selected Finder image to imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload to imgur 1.2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DE29432D-5DE2-49DE-A62C-41023AB386EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript upload_imgur.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31427260-C3B6-458B-97FA-B0502A48155C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Upload to imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B67D6A45-DD4C-498E-9FF6-6330A4FC548F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
					<string>com.compuserve.gif</string>
					<string>com.microsoft.bmp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Upload to imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A95BDE6A-5761-478A-A389-CA362876F27C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8009BBF3-C7CE-4DE4-A55F-30191B8A6C08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript upload_open__imgur.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>480D70DD-7269-42D2-B030-FAC01391AEE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imgur</string>
				<key>subtext</key>
				<string>Upload selected Finder image to imgur</string>
				<key>text</key>
				<string>Upload to imgur</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94335DA3-CF56-483D-A277-E73B090097C8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Code snippet:

https://gist.github.com/imkmf/3445912

imgur:

http://imgur.com</string>
	<key>uidata</key>
	<dict>
		<key>31427260-C3B6-458B-97FA-B0502A48155C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>480D70DD-7269-42D2-B030-FAC01391AEE4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8009BBF3-C7CE-4DE4-A55F-30191B8A6C08</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>94335DA3-CF56-483D-A277-E73B090097C8</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A95BDE6A-5761-478A-A389-CA362876F27C</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>B67D6A45-DD4C-498E-9FF6-6330A4FC548F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DE29432D-5DE2-49DE-A62C-41023AB386EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
