<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>95E6E8D7-53CC-49FD-8525-B69C17DEBEC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50E05DC7-EEA6-424A-9BA3-CFA0349702B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ThibMaek</string>
	<key>description</key>
	<string>Searches the MRTZCMP3 archive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search MRTZCMP3.NET</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mrtz</string>
				<key>subtext</key>
				<string>Searches the archive for a given track</string>
				<key>text</key>
				<string>Search MRTZCMP3 for:</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95E6E8D7-53CC-49FD-8525-B69C17DEBEC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://mrtzcmp3.net/{query}_1s.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50E05DC7-EEA6-424A-9BA3-CFA0349702B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>50E05DC7-EEA6-424A-9BA3-CFA0349702B3</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>95E6E8D7-53CC-49FD-8525-B69C17DEBEC0</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>thibmaekelbergh.be</string>
</dict>
</plist>
